html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  table {
    border-collapse: collapse;
    border: 1px solid #ffffff;
  }
  
  thead {
    background-color: #424242;
    text-transform: uppercase;
  }
  
  td, th {
    padding: 8px 8px 8px 8px;
  }
  
  td:first-child {
    width: 50%;
  }
  
  td:not(td:first-child) {
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #424242;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .table-title {
    align-self: center;
    font-size: 32px;
  }

  .skip-to-page-input {
    width: 32px;
  }

  .paginator {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  
  .paginator-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .sort-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }  
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
